<Project>
  <PropertyGroup>
    <!-- For Windows users, please fill the folder path which contains Duckov.exe below -->
    <!-- Windows 用户请在下面这行填写你的鸭科夫安装路径（包含 Duckov.exe 的目录）-->
    <DuckovPath>d:\Program Files\steam\steamapps\common\Escape from Duckov</DuckovPath>

    <!-- For Mac users, please fill the folder path which contains Duckov.app below -->
    <!-- Mac 用户请在下面这行填写你的鸭科夫安装路径（包含 Duckov.app 的目录）-->
    <!-- <DuckovPath>/Users/Somebody/Library/Application Support/Steam/steamapps/common/Escape from Duckov</DuckovPath> -->

    <!-- Windows 路径 -->
    <SubPath>\Duckov_Data\Managed\</SubPath>
    <!-- Mac 路径 -->
    <!-- <SubPath>/Duckov.app/Contents/Resources/Data/Managed/</SubPath> -->

    <!-- 输出部署位置：Mod 文件夹路径 -->
    <ModPath>$(DuckovPath)\Duckov_Data\Mods\DuckovJam</ModPath>
  </PropertyGroup>
</Project>